
@{
    ViewBag.Title = "Events";
}

<h2>Events</h2>

<ul>

        09.01-11.04 - "TehnoParty"
        <br />
        15.05-11.06 - "Nimun!"
        <br />
        26.07-09.10 - "Njau"
        <br />
        28.11-28.12 - "ChriZmas"

</ul>